/*
 * Place CSS here
 */
#jira-panel{font-size: 9px;}
#jira-panel .toolbar{overflow: visible;}
#jira-panel label{display: inline-block;line-height: 1.6;vertical-align: middle;}
#jira-panel input,
#jira-panel select{
    width:150px;
    margin:0 5px;
}

#jira-panel .btn.btn-small{
    width:75px;
}
#jira-panel .dropdown-menu{
    width:80px;
}
#jira-panel .btn-small .caret{
    margin-top: 4px !important;
    margin-left:4px !important;
}

#jira-panel #jira_table td{
    padding-left:0px !important;
    text-align: center;
}
#jira-panel #jira_table input[type=checkbox]{
    width:13px;
}

#jira-panel .bug{
    background-color:#f1acac !important;
}
#jira-panel .task{
    background-color:#a6f2a6 !important;
}
#jira-panel .jira-right-icons{
    position: absolute;
    right:36px;
    top:6px;
}
.jira-well.well{
    box-shadow: 0 1px 4px -1px black;
    user-select: text !important;
    -user-select: text !important;
}
.jira-well.well:nth-child(even){
    background-color: #bbd6ef;
}
.jira-well.well:nth-child(odd){
    background-color:#cdd4db;
}
.jira-panel{
    width: 100%;
    background:#fff;
    border-radius: 4px;
}
.jira-panel .panel-heading{
    text-align-last: left;
    text-shadow: none;
    padding: 8px 18px;
    background: #537496;
    color: #fdfcfc;
    border-radius: 4px 4px 0 0;
}
.jira-panel .panel-body{
    padding-top:5px;
    text-align: left;
}
.jira-panel .panel-body textarea{
    border: none;
    width: 97%;
    margin-bottom: 0;
    max-width: 97%;
}
